<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <SCRipt>
        // window.location.href = "app/build/development/jmrc/index.html";
        // window.location.href = "jmrc/build/production/jmrc/index.html";
        window.location.href = "/jmrc/index.html";
    </SCRipt>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
</body>


<!-- 这是一个不同的日期，所以要在不同的地方做出不同的标记 -->
<!-- 学习心得 -->


</html>